body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #000;
    color: #fff;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

h1, h2 {
    color: #333;
}



.gallery-grid img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


.contact-form input, .contact-form textarea {
    width: 100%;
}

.contact-form button {
    background: #000;
    color: #fff;
    border: none;
}

.contact-form button:hover {
    background: #555;
}


ul li:nth-child(2) a {
    color: orange;
}

.gallery-grid img:nth-child(odd) {
    border: 3px solid #000;
    width: 459px;
}
